@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700');

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

/*code {
  font-size: 80%;
}*/

h2, h3, h4, h5, h6 {
  color: #5543A5;
}

a, a:hover {
  color: #f7a128;
}

body {
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand {
  color: #5543A5;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
